.providers-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 24px;
  padding: 0 24px;
  background-color: var(--color-background);
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .providers-list {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .provider-card {
    width: 100%;
  }

  .providers-list {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .providers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
     margin: 0 auto;
  }

  .provider-card {
    width: 100%;
    max-width: 350px;
  }
}

