.providers-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 24px;
  padding: 0 24px;
  background-color: var(--color-background);
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .providers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .provider-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .providers-list {
    justify-content: center;
  }
}

