*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: var(--color-background);
  min-height: 80vh;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a.active {
  color: var(--color-success);
  text-shadow: var(--color-success);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background: var(  --color-primary);
  padding: 10px 20px;
  margin: 10px;
  color: var(--color-surface);
  font-weight: 600;
  border-radius: 6px;
  border: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 16px 0;
  background: var(--gradient-brand);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
  /* message de sistema */
.form-message {
  margin-top: 0.6rem;
  font-size: 0.85rem;
}

.form-message.success {
  color: var(--color-success);
}

.form-message.error {
  color: var(--color-error);
}
