:root {
  --color-primary: #2563eb;
  --color-success: #22c55e;

  --color-background: #f9fafb;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --calendar-available: #22c55e;
  --calendar-booked: #2563eb;
  --calendar-blocked: #e5e7eb;
  --calendar-hover: #dbeafe;

    --gradient-brand: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-success)
  );
}


.dark {
    --color-primary: #3b82f6;
    --color-success: #4ade80;
    
    --color-background: #0f172a;
    --color-surface: #1e293b;
    --color-border: #334155;
    
    --color-text-primary: #f8fafc;
    --color-text-secondary: #cbd5e1;
    
    --color-warning: #fbbf24;
    --color-error: #f87171;
    
    --calendar-available: #4ade80;
    --calendar-booked: #3b82f6;
    --calendar-blocked: #334155;
    --calendar-hover: #1e40af;
  }
