.nav {
  height: auto;
  width: 100%;
}

.nav-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  background-color: var(--color-background);
  box-shadow: 0 4px 8px -4px var(--color-border);
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  min-height: 10vh;
}

/* left */
.nav-left {
  flex: 1;
}

.nav-logo {
  height: 8vh;
  min-width: 100px;
  object-fit: contain;
}

/* center */
.nav-center {
  flex: 2;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}

.nav-center a {
  font-weight: 500;
  color: var(--color-primary);
}

/* logo */
.nav-right {
  flex: 1;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 1rem;
}

.nav-container a {
  padding: 6px 10px;
  text-decoration: none;
  color: var(--color-primary);
}

.nav-center a.active {
  color: var(--color-success);
}

/* user menu */
.nav-user {
  position: relative;
}

.nav-avatar-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav-avatar {
  min-width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid var(--color-primary);
}

/* dropdown */
.nav-dropdown {
  position: absolute;
  top: 52px;
  right: 0;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  min-width: 180px;
  padding: 10px;
  gap: 2px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  color: var(--color-primary);
  display: none;
}
.nav-user:hover .nav-dropdown {
  display: flex;
  flex-direction: column;
}

.nav-dropdown-hello {
  font-weight: 600;
  padding: 6px;
  text-align: center;
  color: var(--color-primary);
}

/* sanwich/dropdown menu */
.nav-dropdown a,
.nav-dropdown button {
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
  width: fit-content;
  color: var(--color-primary);
}
.nav-dropdown button {
  text-align: center;
  font-weight: bold;
  width: 50%;
  align-self: flex-end;
  margin-top: 6px;
  background-color: var(--color-warning);
  color: var(--color-surface);
}

.nav-dropdown button:hover {
  background-color: var(--color-error);
}

.nav-dropdown a:hover {
  background-color: var(--calendar-hover);
}

.nav-hello {
  font-weight: 600;
  background-color: a;
}

/* From Uiverse.io by nihad-abbasov */
/* switch settings 👇 */

.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(232, 89, 15);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--color-success);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition:
    left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition:
    left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition:
    left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  background-color: rgb(0, 56, 146);
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

@media (hover: hover) {
  .nav-user:hover .nav-dropdown {
    display: flex;
    flex-direction: column;
  }
}

.nav-dropdown.open {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .nav-logo {
    height: 40px;
    min-width: 38px;
  }

  .nav-center {
    gap: 0;
  }

  .nav-right {
    gap: 0.5rem;
    padding-right: 0;
  }

  .ui-switch {
    --switch-width: 33px;
    --switch-height: 14px;
    --circle-diameter: 22px;
  }
}
