footer {
  height: 10vh;
  text-align: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: var(--color-primary);
  text-shadow: 2px 2px 4px var(--color-primary);
  box-shadow: 0 0 4px 0 var(--color-border);
  opacity: 0.8;
}

.git-links {
  display: flex;
  justify-content: center;
}

.git-links a {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 0.8em;
}

.git-icon {
  font-size: 2em;
}

.copy-right {
  display: flex;
  justify-content: flex-end;
  color: var(--color-text-secondary);
  opacity: 0.7;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}
