.provider-card {
  max-width: 700px;
  border-radius: 3px;
  background-color: var(--color-surface);
  box-shadow: 0 0 4px 0 var(--color-border);
  display: flex;
  flex-direction: column;
}

.provider-card.inactive {
  opacity: 0.6;
}

.services-title {
  font-weight: 700;
  letter-spacing: 0.08em;
  padding-left: 2px;
  color: var(--color-text-primary);
  margin-bottom: 6px;
}

.provider-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}


.provider-services {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-weight: 600;
}

.provider-service {
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
  background-color: var(--color-border);
  color: var(--color-text-primary);
}

.card-profile-info{
  display: flex;
}

.card-profile-info-content{
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.provider-avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 10px;
}

.provider-name {
  font-size: 15px;
  font-weight: 600;
}

.provider-footer {
  margin-top: auto;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

@media (max-width: 480px) {
.provider-card {
    width: 350px;
    border-radius: 3px;
    background-color: var(--color-surface);
    box-shadow: 0 0 4px 0 var(--color-border);
    display: flex;
    flex-direction: column;
}
}